/* ru locale file */

*[data-caption="P1-H"]:before {
    content: "Заголовок панели 1";
}

*[data-caption="P1-S1-H"]:before {
    content: "Язык";
}

*[data-caption="P1-S2-H"]:before {
    content: "Тема";
}

*[data-caption="P1-S3-H"]:before {
    content: "Горячая клавиша";
}

*[data-caption="P1-S3-D"]:before {
    content: "Установите горячую клавишу с помощью клавиш 0-9, A-Z и модификаторов Shift, Ctrl и Alt. Попробуйте использовать их!";
}

*[data-caption="P1-S4-H"]:before {
    content: "Выбор элемента";
}

*[data-caption="P2-H"]:before {
    content: "Заголовок панели 2";
}

*[data-caption="P2-S1-H"]:before {
    content: "Счётчик";
}

*[data-caption="P2-S2-H"]:before {
    content: "Поле ввода";
}

*[data-caption="P2-S3-H"]:before {
    content: "Поле ввода отключено";
}

*[data-caption="P2-B1"]:before {
    content: "Информация";
}

*[data-caption="P2-B2"]:before {
    content: "Ошибка";
}

*[data-caption="P2-S4-H"]:before {
    content: "Переключатели";
}

*[data-caption="P2-S4-Sw1"]:before {
    content: "Переключатель 1";
}

*[data-caption="P2-S4-Sw2"]:before {
    content: "Переключатель 2";
}

*[data-caption="P2-S4-Sw3"]:before {
    content: "Переключатель 3";
}

*[data-caption="P2-S4-Sw4"]:before {
    content: "Выключенный переключатель";
}