.Window {
    color: #f3f3f3;
}

.AppIcon {
    background-image: url("../res/icon.png");
}

.HeaderButton.TestHeaderButton1:before {
    content: "\F01E7";
    margin-left: 7px;
    margin-top: 5px;
}

.HeaderButton.TestHeaderButton2:before {
    content: "\F043C";
    margin-left: 7px;
    margin-top: 6px;
}

.HeaderButton.TestHeaderButton3:before {
    content: "\F15FC";
    margin-left: 6px;
    margin-top: 5px;
    font-size: 15px;
}

.HeaderButton.TestHeaderButton4:before {
    content: "\F0B8A";
    margin-left: 7px;
    margin-top: 5px;
}

.HeaderButton.TestHeaderButton5:before {
    content: "\F06BE";
    margin-left: 7px;
    margin-top: 6px;
}

.HeaderButton.TestHeaderButton6:before {
    content: "\F04CE";
    margin-left: 7px;
    margin-top: 5px;
}

.Page {
    background-color: #283140;
}

.Box.Subpage {
    background-color: #283140;
}

.Box.Subpage .Title {
    /*background-color: transparent;*/
}

.Box.Subpage .Title .BackButton {
    height: 33px;
    background-color: transparent;
}

.Box.Subpage .Title .BackButton:before {
    content: '\F006E';
}

.Box.Subpage .Title .BackButton:hover {
    background-color: transparent;
    color: #dbdbdb;
}

.Box.PageBody {
    /*padding-left: 33px;*/
    /*padding-right: 33px;*/
}

.Box.ListFilter {
    margin: 0;
}

.Button {
    width: 200px;
    background-color: #202020;
}

.Button.WarningAction {
    color: #ff5252;
}

.Button.GoodAction {
    color: #52ff63;
}

.Button:hover {
    background-color: #141414;
}

.Button.ListFilter {
    width: 140px;
    background-color: rgba(36, 36, 36, 0.5);
}

.Link {
    color: #2E92F9;
}

.MainMenu {
    background-color: #212a39;
}

.MainMenu > .MainMenuItems {
    margin-top: 15px;
}

.MainMenu *[data-pagename="Panels"]::before {
    content: '\F056E';
}

.MainMenu *[data-pagename="Lists"]::before {
    content: '\F126F';
}

.MainMenu *[data-pagename="Misc"]::before {
    content: '\F086D';
}

.List.List1 {
    margin-left: 33px;
    margin-right: 33px;
}

.List.List1 li > div {
    width: 70px;
}

.List.List1 li > div:nth-child(2) {
    width: 350px;
}

.List.List2 {
    margin-left: 33px;
    margin-right: 33px;
}

.List.List2 li > div {
    width: 70px;
}

.List.List2 li > div:nth-child(2) {
    width: 280px;
}

.List.List2 li > div:nth-child(3) {
    width: 200px;
}

.Panel1Circlebar1 {
    height: 120px;
}

.Panel1Circlebar2 {
    height: 120px;
    margin-top: 25px
}

.Panel1Circlebar2 .CircleLine {
    stroke: #3fe839;
}

.Panel1Circlebar3 {
    height: 120px;
    margin-top: 25px
}

.Panel1Circlebar3 .CircleLine {
    stroke: #e8cb39;
}

.ItemPicker.Colors > div:nth-child(1) {
    background-color: #e8cb39;
}

.ItemPicker.Colors > div:nth-child(2) {
    background-color: #5cd2fd;
}

.ItemPicker.Colors > div:nth-child(3) {
    background-color: #45e839;
}

.ItemPicker.Colors > div:nth-child(4) {
    background-color: #e83953;
}

.ItemPicker.Colors > div:nth-child(5) {
    background-color: #4a39e8;
}

.ItemPicker.Colors > div:nth-child(6) {
    background-color: #b7b7b7;
}
