/*
/////////////////////////////////////////////////////////////////////////////
// Name:        facefull.css
// Purpose:     Main Facefull style
// Author:      Nickolay Babbysh
// Version:     0.9.3
// Copyright:   (c) NickWare Group
// Licence:     MIT
/////////////////////////////////////////////////////////////////////////////

Available UI elements:

Window
WindowControl
HeaderButton
Page
Subpage
Box
Mainmenu
Tablist
Scrollbox
Button
Checkbox
Combobox
Alert
Progressbar
Label
Link
Toggle
Categorylist
PopupMenu
List
Edit
Text
Grid
Tooltip
PulseChart
DropArea
Tabs
Circlebar
Counter
HotkeyHolder
ItemPicker

*/


/*============================ Fonts ============================*/

@font-face {
    font-family: "Material Design Icons";
    src: local('Material Design Icons'), url("fonts/md-embedded.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*============================ General ============================*/

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
    background-color: #171717;
    color: #171717;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.Buffer {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
}

.ShowDebug {
    position: fixed;
    height: 15px;
    bottom: 10px;
    left: 0;
    width: 500px;
    color: #F3F3F3;
    background-color: #000;
    z-index: 1000;
    display: block;
}

.ShowDebug:before {
    content: "DEBUG: ";
}

.Centred {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}

.HCenter {
    margin: 0 auto;
}

.VBottom {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
}

.Inline {
    display: inline-block !important;
}

.OfV {
    overflow: visible !important;
}
/*============================ Window ============================*/

.Window {
    background-color: #131313;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
}

.WindowHeader {
    height: 50px;
    position: relative;
    width: 100%;
    background-color: #0f273d;
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}

.WorkArea .WindowHeader {
    height: 80px;
}

.WorkArea .HeaderButtonsBlock {
    margin-right: 0;
}

.WindowIcon {
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 9999px;
    z-index: 999;
}

.WindowCaption {
    color: #F3F3F3;
    font-size: 16px;
    padding-left: 15px;
    z-index: 999;
    position: relative;
}

.WindowMover {
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
}

.WindowControlsBlock {
    width: 95px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

.WindowControl {
    color: #F3F3F3;
    border-radius: 999px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    font-family: "Material Design Icons", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    transition: 0.3s;
    /*z-index: 100;*/
    font-weight: 300;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
}

.WindowControl:hover {
    color: #20AAFA;
}

.WindowControl.Close:hover {
    color: #fd5954
}

.WindowControl.Close > div {
    /*width: 24px;*/
    /*height: 24px;*/
    font-size: 21px;
}

.WindowControl.Close > div:after {
    content: "\F0156";
}

.WindowControl.Max > div {
    /*width: 28px;*/
    /*height: 25px;*/
    font-size: 24px;
}

.WindowControl.Max > div:after {
    content: "\F0143";
}

.WindowControl.Restore > div {
    /*width: 28px;*/
    /*height: 26px;*/
    font-size: 24px;
}

.WindowControl.Restore > div:after {
    content: "\F0140";
}

.WindowControl.Min > div {
    /*width: 28px;*/
    /*height: 25px;*/
    font-size: 21px;
}

.WindowControl.Min > div:after {
    content: "\F0374";
}

.HeaderButtonsBlock {
    width: 50%;
    height: 100%;
    right: 0;
    margin-right: 130px;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.HeaderButton {
    color: rgb(158, 158, 158);
    border-radius: 999px;
    margin-right: 15px;
    z-index: 100;
    position: relative;
    background-color: rgba(0, 0, 0, 0.52);
    transition: 0.3s;
    width: 27px;
    height: 27px;
    font-family: "Material Design Icons", sans-serif;
    font-size: 13px;
}

.HeaderButton:before {
    display: block;
}

.HeaderButton:hover {
    background-color: rgb(8, 39, 66);
}

/*============================ GlobalArea ============================*/

.GlobalArea {
    cursor: default;
    width: 100%;
    height: 100%;
    display: flex;
}

/*============================ WorkArea ============================*/

.WorkArea {
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    width: 100%;
}

.WorkArea.Blur {
    filter: blur(6px);
    -webkit-filter: blur(6px);
}

/*============================ Page ============================*/

.Page {
    top: 0;
    position: absolute;
    cursor: default;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    background-color: #283140;
}

.Page.Show {
    display: flex;
}

.Page.Transparent {
    background-color: transparent;
    color: #F3F3F3;
}

.Page .Title {
    font-size: 16px;
    background-color: #1E2C3E;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    flex-shrink: 0;
}

.Page .Title .TitleText {
    display: inline-block;
    vertical-align: middle;
    margin-left: 33px;
    position: relative;
    /*padding-top: 11px;*/
}

.Page .Title .TitleText .Subtitle {
    font-size: 13px;
}

.PageButtonsBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

/*============================ Subpage ============================*/

.Box.Subpage {
    position: absolute;
    height: 100%;
    right: 0;
    width: 100%;
    display: none;
    top: 0;
    background-color: #283140;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    flex-direction: column;
}

.Box.Subpage.Show {
    display: flex;
}

.Box.Subpage .Title {
    font-size: 16px;
    width: 100%;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #0D151F;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    flex-shrink: 0;
}

.Box.Subpage .Title .BackButton {
    font-family: "Material Design Icons", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    display: inline-block;
    padding-left: 15px;
    padding-right: 50px;
    position: relative;
    vertical-align: middle;
    /* border: 1px solid #F3F3F3; */
    font-size: 35px;
    /* padding-top: 3px; */
    transition: 0.3s;
    height: 36px;
    background-color: rgba(170, 170, 170, 0.12);
    color: #888;
    z-index: 10;
    border-radius: 9px;
    margin: 10px 10px 10px 33px;
}

.Box.Subpage .Title .BackButton:before {
    content: '\F006E';
    position: absolute;
    top: -2px;
    bottom: 0;
}

.Box.Subpage .Title .BackButton:hover {
    background-color: rgba(170, 170, 170, 0.42);
}

.Box.Subpage .Title .TitleText {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.Box.Subpage .Title .BackButtonIcon {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.Box.Subpage .Title .BackButtonIcon:before {
    font-family: "Material Design Icons", sans-serif;
    content: '\F536';
}

/*.Box.Subpage > .Box {*/
    /*padding-bottom: 70px;*/
/*}*/

/*============================ Box ============================*/

.CenterWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*padding: 10px;*/
    box-sizing: border-box;
    position: relative;
    /*padding-left: 25px;*/
    /*padding-right: 25px;*/
    margin-left: 5px;
    margin-right: 5px;
}

.Box.PageBody {
    margin-left: 0;
    margin-right: 0;
    padding: 0 28px;
    margin-top: 20px;
    flex-shrink: 0;
}

.Box.Panel {
    height: auto;
    width: auto;
    background-color: rgba(66, 66, 66, 0.18);
    padding: 20px;
    position: static;
    border-radius: 8px;
    margin-bottom: 15px;
}

.Box.PageBody .Box.Panel {
    /*margin-left: 0;*/
    /*margin-right: 0;*/
}

.Box.Panel.Blank {
    visibility: hidden;
}

.Box.Panel > .Header {
    /*text-transform: capitalize;*/
    font-size: 16px;
}

.Box.Panel.Small {
    max-width: 480px;
    margin: 0 auto !important;
}

.Box.Panel.Medium {
    max-width: 560px;
    margin: 0 auto;
}

.Box.Fullwidth {
    padding: 0;
    margin: 0;
    width: auto;
}

.Box.SettingsBlock {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
    padding: 10px 0;
    overflow: visible;
    height: auto;
}

.Box.SettingsBlock:last-child {
    margin-bottom: 0;
}

.Box.SettingsBlock > .SettingsBlockTitle {
    margin-bottom: 10px;
}

.Box.Top {
    position: absolute;
    top: 0;
    height: auto;
    padding: 0;
}

.Box.Bottom {
    position: absolute;
    bottom: 0;
    height: auto;
    padding: 0;
}

.Box.NoPadding {
    padding: 0;
}

.Box.Black {
    background-color: rgba(0, 0, 0, 0.32);
    /*background-color: rgba(51, 51, 51, 0.32);*/
    color: #F3F3F3;
}

.Box.Gray {
    /*background-color: rgba(45, 45, 45, 0.3);*/
    background-color: rgba(0, 0, 0, 0.17);
    color: #F3F3F3;
    /*box-shadow: 0 0 13px rgba(10, 10, 10, 0.6);*/
}

.Box.Active {
    border-bottom: 2px solid #fb6614;
}

.Box.Inactive {
    border-bottom: 2px solid #909090;
}

.Box.Rounded {
    border-radius: 8px;
}

.Box.Custom {
    width: 400px;
    height: 300px;
}

.Box.ListFilter {
    padding: 0;
    height: 50px;
    margin: 18px 15px 0;
}

.Box.FilterList {
    padding: 0;
    margin: 0;
    height: 430px;
    width: auto;
}

.BoxTitle {
    margin-bottom: 20px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.5);
    /*margin-top: 10px;*/
    text-align: left;
    z-index: 1;
    position: relative;
}

.BoxTitle.Small {
    margin-top: 10px;
    font-size: 15px;
}

.BoxTitle.Center {
    text-align: center;
}

.BoxTitleInner {
    display: inline-block;
    /*vertical-align: middle;*/
}

.Box.AlertButtons {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    text-align: center;
    height: auto;
    padding: 0;
    margin: 0;
}

/*============================ Tablist ============================*/

.Tablist {
    position: absolute;
    height: 100%;
    width: 190px;
    background-color: rgb(20, 54, 83);
    border-right: 1px solid #fb6614;
    overflow: hidden;
    box-sizing: border-box;
}

.Tablist ul {
    width: 100%;
    z-index: 5;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.Tablist ul li {
    padding: 8px 10px;
    transition: 0.3s;
    font-size: 13px;
    z-index: 6;
    position: relative;
    color: #f3f3f3;
    word-wrap: break-word;
}

.Tablist ul li:hover {
    background-color: #2a66a2;
}

.Tablist ul li.Selected {
    background-color: #fb6614;
}

.Tablist ul li > div:before {
    font-family: "Material Design Icons", sans-serif;
    content: "\F379";
    font-size: 35px;
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
}

.Tablist ul li div div {
    display: inline-block;
    vertical-align: middle
}

.Tablist ul li div div:after {
    color: #cfcfcf;
    font-size: 12px;
    display: block;
}

/*============================ Scrollbar ============================*/

.Scrolling {
    overflow: hidden;
    /*border-top: 1px solid #2F2F2F;*/
    /*background-color: #0C131B;*/
    background-color: #262e3c;
    margin-top: 0 !important;
    flex-shrink: 1 !important;
}

.Scrollbar-block {
    width: 15px;
    z-index: 5;
    /*background-color: rgba(212, 212, 212, 0.05);*/
    display: block;
    height: 100%;
    /*float: right;*/
    /*position: relative;*/
    position: absolute;
    top: 0;
    right: 5px;
}

.Scrollbar-track {
    width: 7px;
    /*background-color: rgba(32, 170, 250, 0.2);*/
    background-color: rgba(0, 14, 23, 0.72);
    border-radius: 9999px;
    margin: 0 auto;
    transition: width 0.1s;
}

.Scrollbar-track:hover {
    width: 12px;
}

.Scrolldata {
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
    display: block;
    margin-right: -7px;
    /*transition: 0.1s;*/
    /*padding-bottom: 40px;*/
    padding-bottom: 1px;
    /*margin-top: 0 !important;*/
    padding-top: 20px !important;
    transition: 0.1s;
}

/*============================ MainMenu ============================*/

.MainMenu {
    width: 80px;
    background-color: #0A1219;
    z-index: 101;
    font-family: "Material Design Icons", sans-serif;
    font-size: 28px;
    transition: 0.1s;
    cursor: default;
    flex-shrink: 0;
}

.AppIconBlock {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AppIcon {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 8px;
    margin-top: 5px;
}

.MainMenu.Narrow {
    width: 40px;
    font-size: 22px;
}

.MainMenu > .MainMenuItems {
    width: 100%;
    z-index: 5;
    /*list-style-type: none;*/
    padding: 0;
    margin: 0;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-bottom: 28px;
    padding-top: 20px;
}

.MainMenu > .MainMenuItems > div {
    width: 100%;
    padding: 30px 0;
    transition: color 0.4s;
    /*height: 70px;*/
    box-sizing: border-box;
}

.MainMenu > .MainMenuItems > div:hover {
    /*background-color: #272C33;*/
    color: #5B6777;
}

.MainMenu > .MainMenuItems > div.Active {
    background-color: transparent;
    color: #FB6614;
}

.MainMenu > .MainMenuItems > div::before {
    display: block;
    text-align: center;
}

/*============================ Button ============================*/

.Button {
    position: relative;
    display: block;
    font-size: 13px;
    text-align: center;
    cursor: default;
    transition: 0.3s;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    padding: 10px 0;
    width: 150px;
    /*background-color: rgba(0, 0, 0, 0.32);*/
    background-color: rgba(51, 51, 51, 0.32);
    color: #F3F3F3;
}

.Button:hover {
    background-color: #313131;
    color: #F3F3F3;
}

.Button.Gray {
    background-color: #D4D4D4;
    color: #131313;
}

.Button.Gray:hover {
    background-color: #B9B9B9;
}

.Button.Dark {
    background-color: #313131;
    color: #F3F3F3;
}

.Button.Dark:hover {
    background-color: #141414;
}

.Button.Highlighted {
    background-color: #2a618a;
    color: #f3f3f3;
}

.Button.Highlighted:hover {
    background-color: #224c71;
}

.Button.Rounded {
    border-radius: 8px;
}

.Button.Inline {
    display: inline-block;
}

.Button.Right {
    float: right;
}

.Button.HCenter {
    margin: 0 auto;
}

.Button.ListFilter {
    font-size: 12px;
    display: inline-block;
    width: 115px;
    margin-right: 20px;
    border-radius: 8px;
    padding: 7px 0;
}

.Button.VBottom {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
}

.ButtonBlock {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ButtonBlock.MinimalMargin {
    margin-top: 5px;
    margin-bottom: 15px;
}

.ButtonBlock.Disabled {
    opacity: 0.3;
}

.ButtonBlock.Disabled:before {
    content: "";
    width: 150px;
    height: 40px;
    position: absolute;
    z-index: 10;
}

/*============================ Checkbox ============================*/

.Checkbox {
    font-size: 15px;
    font-weight: 300;
}

.Checkbox.Dark {
    color: #171717;
}

input[type="checkbox"]:checked, input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + .Checkbox, input[type="checkbox"]:not(:checked) + .Checkbox {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
    vertical-align: middle;
    height: 20px;
}

input[type="checkbox"]:checked + .Checkbox:before, input[type="checkbox"]:not(:checked) + .Checkbox:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    transition: 0.3s;
}

input[type="checkbox"]:not(:checked):not(:indeterminate) + .Checkbox:hover:before {
    border: 1px solid #20AAFA;
}

input[type="checkbox"]:checked + .Checkbox:before, input[type="checkbox"]:indeterminate + .Checkbox:before {
    border: 1px solid #fb6614;
}

input[type="checkbox"]:checked + .Checkbox:after, input[type="checkbox"]:not(:checked) + .Checkbox:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #fb6614;
}

input[type="checkbox"]:indeterminate + .Checkbox:after  {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 7px;
    top: 7px;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background-color: #fb6614;
}

input[type="checkbox"]:checked + .Checkbox:after, input[type="checkbox"]:indeterminate + .Checkbox:after {
    opacity: 1;
}

input[type="checkbox"]:not(:checked):not(:indeterminate) + .Checkbox:after {
    opacity: 0;
}

/*============================ Combobox ============================*/

.Combobox {
    width: 280px;
    transition: 0.3s;
    font-size: 14px;
    outline-offset: -1px;
    position: relative;
    box-sizing: border-box;
    height: 43px;
    color: #F3F3F3;
    background-color: #202020;
    outline: 1px solid #202020;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Combobox.Rounded {
    border-radius: 5px;
}

.ComboboxHeader {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.ComboboxHeader:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 5em;
    background-color: #FB6614;
    position: absolute;
    right: 10px;
}

.ComboboxHeader > div {
    padding-left: 10px;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    /*-webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));*/
}

.Combobox.Long {
    width: 480px;
}

.Combobox.Disabled {
    opacity: 0.7;
}

.Combobox.Disabled:after {
    content: '';
    height: 100%;
    background-color: rgb(38, 38, 38);
    outline: 1px solid rgb(38, 38, 38) !important;
    width: 100%;
    padding: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.Combobox.Disabled:hover {
    outline: 1px solid #D7D7D7 !important;
}

.Combobox:hover {
    background-color: #262626;
    outline: 1px solid #262626;
}

.Combobox.Opened {
    color: #F3F3F3;
    background-color: #FB6614;
    outline: 1px solid #FB6614;
    transition: 0.3s;
    outline-offset: -1px;
}

.Combobox ul {
    width: 100%;
    background-color: #202020;
    z-index: 5;
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.Combobox ul li {
    background-color: #202020;
    color: #F3F3F3;
    padding: 12px 10px;
    transition: 0.3s;
    font-size: 13px;
    z-index: 6;
    position: relative;
    word-wrap: break-word;
}

.Combobox ul li:hover {
    background-color: #2e2e2e;
}

.Combobox.Long {
    width: 440px;
}

.Combobox.Long ul {
    width: 480px;
}

.Combobox.Light {
    color: #171717;
    background-color: #D7D7D7;
    outline: 1px solid #D7D7D7;
}

.Combobox.Light:hover {
    outline: 1px solid #00AEFF;
}

.Combobox.Light ul {
    background-color: #D7D7D7;
}

.Combobox.Light ul li {
    background-color: #D7D7D7;
    color: #171717;
}

.Combobox.Light ul li:hover {
    background-color: #C0C0C0;
}

/*============================ Overlay ============================*/

.Overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: #000;
    opacity: 0.93;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    display: none;
    top: 0;
}

/*============================ Alert ============================*/

.Alert {
    position: absolute;
    width: 450px;
    height: 250px;
    background-color: #171717;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #20AAFA;
    display: none;
    z-index: 201;
    transition: 0.2s;
    transform: scale(1);
    cursor: default;
}

.Alert.Scaled {
    transform: scale(0.9);
    opacity: 0.3;
}

.Alert.Rounded {
    border-radius: 8px;
}

.Alert.OverWindow {
    width: 600px;
    height: 400px;
}

.AlertPrefix {
    position: absolute;
    left: -20px;
    width: 20px;
    height: 230px;
    background-color: #171717; /* #14222f */
    top: 20px;
}

.AlertPrefix:before {
    content: '';
    position: absolute;
    left: 6px;
    top: -15px;
    width: 28px;
    height: 28px;
    background-color: #171717;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.AlertPostfix {
    position: absolute;
    right: -20px;
    width: 20px;
    height: 230px;
    background-color: #171717;
    border-top: 2px solid #20AAFA;
    top: -2px;
}

.AlertPostfix:after {
    content: '';
    position: absolute;
    right: 6px;
    top: 216px;
    width: 28px;
    height: 28px;
    background-color: #171717;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.Alert.OverWindow > .AlertPrefix {
    height: 380px;
}

.Alert.OverWindow > .AlertPostfix {
    height: 380px;
}

.Alert.OverWindow > .AlertPostfix:after {
    top: 366px;
}

.Alert.OverWindow > .WindowControl.Close {
    display: block;
    position: absolute;
    right: -13px;
    top: 6px;
}

.Alert .Close {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    font-family: "Material Design Icons", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    transition: 0.3s;
    font-weight: 300;
    font-size: 20px;
    z-index: 999;
    position: absolute;
    margin-top: 12px;
    right: -10px;
}


.Alert .Close:hover {
    color: #fd5954
}

.Alert .Close:after {
    content: "\F5AD";
}

.Alert.Warning {
    border-top: 2px solid gold;
}

.Alert.Warning > .AlertPostfix {
    border-top: 2px solid gold;
}

.Alert.Error {
    border-top: 2px solid firebrick;
}

.Alert.Error > .AlertPostfix {
    border-top: 2px solid firebrick;
}

.AlertCaption {
    width: 435px;
    height: 20px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 18px;
    position: relative;
}

.AlertText {
    padding: 40px 15px;
}

.AlertButtons {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.AlertButtons .Button {
    width: 170px;
    margin-left: 5px;
    margin-right: 5px;
}

/*============================ Progressbar ============================*/

.Progressbar {
    width: 100%;
    height: 10px;
    background-color: #14222f;
    overflow: hidden;
}

.Progressbar.Rounded {
    border-radius: 8px;
}

.Progressbar.Stripes .ProgressbarIndicator {
    background-size: 30px 30px;
    background-image: linear-gradient(
            135deg,
            rgba(0, 0, 0, 0.15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(0, 0, 0, .15) 50%,
            rgba(0, 0, 0, .15) 75%,
            transparent 75%,
            transparent
    );
    animation: animate-stripes 1.6s linear infinite;
}

.ProgressbarIndicator {
    width: 0;
    height: 100%;
    background-color: #20AAFA;
    transition: 0.3s;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}

/*============================ Label ============================*/

.Label {
    display: block;
    line-height: 1.5em;
}

.Label.ToggleText {
    display: inline-block;
    vertical-align: middle;
}

.Label.Wm {
    margin-left: 20px;
}

.Label.Small {
    font-size: 13px;
}

.Label.Header {
    font-size: 18px;
    color: #FB6614;
    /*padding-top: 15px;*/
    padding-bottom: 10px;
}

.Label.Header.TopMargin {
    margin-top: 15px;
}

.Label.Gray {
    color: #878787;
}

.Label.Right {
    float: right;
}

/*============================ Link ============================*/

.Link {
    transition: 0.3s;
    cursor: pointer;
    /*color: #bdc6cc;*/
    color: #0882FF;
}

.Link:hover {
    color: #20AAFA;
}

/*============================ Toggle ============================*/

.Toggle {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin-right: 10px;
}

.ToggleBlock {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ToggleBlock.MinimalMargin {
    margin-top: 5px;
    margin-bottom: 15px;
}

.ToggleBlock.Disabled {
    opacity: 0.3;
}

.ToggleBlock.Disabled:before {
    content: "";
    width: 40px;
    height: 20px;
    position: absolute;
    z-index: 10;
}

.Toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.Toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}

.Toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(193, 78, 20, 0.8);
    border-radius: 50%;
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

input[type="checkbox"]:checked + .Toggle:before {
    background: #464646;
}

input[type="checkbox"]:checked + .Toggle span {
    background: #FB6614;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(251, 102, 20, 0.53);
}

input[type="checkbox"]:checked + .Toggle span:before {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}

/*============================ Categorylist ============================*/

.Categorylist {
    padding: 25px 25px 40px;
}

.Categorylist ul {
    width: 100%;
    z-index: 5;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Categorylist ul li ul li {
    padding: 8px 30px;
    transition: 0.3s;
    font-size: 13px;
    z-index: 6;
    position: relative;
    color: #f3f3f3;
    word-wrap: break-word;
}

.Categorylist ul li ul li:nth-child(odd) {
    background-color: #0d1f31;
}

.Categorylist ul li ul li:nth-child(even) {
    background-color: #0b1b2a;
}

.Categorylist.Selectable ul li ul li:hover {
    background-color: #1F2C3A;
}

.Categorylist.Selectable ul li ul li.Selected {
    background-color: #3B444C;
}

.Categorylist.Selectable ul li ul li.ChangeMark:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 3px;
    height: 100%;
    background-color: #fb6614;
    left: 0;
    top: 0;
}

.Categorylist > ul > li > div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    background-color: #123652;
    box-sizing: border-box;
    border-bottom: 1px solid #111;
}

.Categorylist > ul > li > div:hover {
    background-color: #204e7d;
}

.Categorylist > ul > li > div > span {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    line-height: 20px;
}

.Categorylist > ul > li > div .ArrowP {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    margin-top: -4px;
    margin-right: 10px;
    float: right;
    /*display: inline-block;*/
    vertical-align: middle;
    text-align: center;
    /*margin-left: 660px;*/
    display: none;
}

.Categorylist > ul > li > div .ArrowP.Opened {
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    margin-right: 11px;
}

.Categorylist > ul > li > div .ArrowP:before {
    font-family: "Material Design Icons", sans-serif;
    content: '\F141';
    font-size: 25px;
}

.Categorylist > ul > li > ul {
    font-size: 10px;
    transition: 0.15s;
    overflow: hidden;
}

.Categorylist > ul > li > ul.Closed {
    height: 0 !important;
}

.Categorylist .ListItem {
    word-break: break-all;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    line-height: 20px;
    width: 90%;
}

.Categorylist .ListItem:first-child {
    width: 100%;
}

.Categorylist > ul > li.Header {
    font-size: 16px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #353535;
}

.Categorylist > ul > li.Header:first-child {
    margin-top: 0;
}

/*============================ PopupMenu ============================*/

.PopupMenu {
    position: absolute;
    display: none;
    width: 200px;
    background-color: #171717;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1000;
    font-size: 12px;
}

.PopupMenu ul {
    width: 100%;
    z-index: 5;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.PopupMenu ul li {
    padding: 8px 10px;
    transition: 0.2s;
    z-index: 6;
    position: relative;
    color: #f3f3f3;
    word-wrap: break-word;
}

.PopupMenu ul li.ExtLink:after {
    font-family: "Material Design Icons", sans-serif;
    content: '\F339';
    font-size: 15px;
    position: absolute;
    right: 10px;
}

.PopupMenu ul li.Caution {
    color: #ff5252;
}

.PopupMenu ul li:hover {
    background-color: #2a66a2;
}

.PopupMenu ul li.Separator {
    height: 2px;
    background-color: #212121;
    padding: 0;
}

.PopupMenu ul li.Separator:hover {
    background-color: #212121;
}

/*============================ List ============================*/

.List {
    z-index: 5;
    list-style-type: none;
    padding: 0;
    margin: 0 15px;
}

.List.Selectable li {
    transition: 0.3s;
}

.List.Selectable li:hover {
    background-color: #1F2C3A;
}

.List.Selectable li.Selected {
    background-color: #FB6614;
}

.List.Header {
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 10px;
    color: #4a86b8;
    font-weight: 600;
}

.List.Header > li {
    background-color: transparent !important;
    padding: 0;
    margin-top: 30px;
}

.List li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.List li > div:last-child {
    text-align: right;
}

.List li > div.Action {
    right: 35px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Material Design Icons", sans-serif;
}

.List li > div.Action:hover {
    color: #aaa;
}

.List li > div.Action:before {
    content: "\F01D8";
    font-size: 26px;
}

.List li {
    font-size: 13px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(66, 66, 66, 0.18);
}

.List li:nth-child(odd) {
    background-color: rgba(94, 94, 94, 0.18);
}

.List li:nth-child(even) {
    background-color: rgba(66, 66, 66, 0.27);
}

.List.Blocks li {
    font-size: 13px;
    padding: 20px 15px;
    margin-bottom: 12px;
    border-radius: 8px;
    background-color: rgba(66, 66, 66, 0.18);
}

/*============================ Edit ============================*/

.Edit {
    display: block;
    width: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 15px;
    background-color: #202020;
    border: solid 1px #202020;
    font-size: 16px;
    color: #f3f3f3;
    box-sizing: border-box;
    height: 43px;
}

.Edit.Rounded {
    border-radius: 5px;
}

.Edit:focus {
    border-bottom: 2px solid #fb6614;
    outline: none;
}

.Edit.Disabled {
    background-color: #373737;
    border: solid 1px #373737;
    color: #aaa;
}

.Edit.HCenter {
    margin: 10px auto;
}

.Edit.Search {
    padding-left: 40px;
}

label.Search {
    position: relative;
}

label.Search:before {
    font-family: "Material Design Icons", sans-serif;
}

/*============================ Text ============================*/

.Text {
    display: block;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 15px;
    background-color: #202020;
    border: solid 1px #202020;
    font: 14px sans-serif;
    color: #f3f3f3;
    box-sizing: border-box;
}

.Text.Rounded {
    border-radius: 5px;
}

.Text:focus {
    border-bottom: 2px solid #fb6614;
    outline: none;
}

/*============================ Grid ============================*/

.Grid {
    display: flex;
}

.Grid.Vertical {
    flex-direction: column;
}

.Grid .Box {
    flex-shrink: 1;
}

.Grid .Panel {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*============================ Tooltip ============================*/

.Tooltip {
    background-color: rgba(10, 10, 10, 0.8);
    visibility: hidden;
    position: absolute;
    border-radius: 9px;
    z-index: 9999;
    text-align: center;
    padding: 10px;
    font-size: 11px;
}

/*============================ PulseChart ============================*/

.PulseChart {
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 0;
}

.PulseBlock {
    width: 32px;
    position: relative;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10px;
}

.PulseBlock:hover {
    background-color: #262626;
}

.PulseValueBox {
    width: 8px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 13px;
    box-sizing: border-box;
}

.PulseValue {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    /*background-color: #00AEFF;*/
    background-color: #FB6614;
    border: 1px solid #FB6614;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(255, 59, 0, 0.47);
}

.PulseLabel {
    font-size: 11px;
    color: #AAA;
    height: 20%;
    box-sizing: border-box;
}

/*============================ DropArea ============================*/

.DropArea {
    min-height: 250px;
    border-radius: 8px;
    transition: 0.3s;
}

.DropArea.Active {
    background-color: #184e80;
}

/*============================ Tabs ============================*/

.Tabs {
    padding: 0;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.Tabs > div {
    font-size: 12px;
    display: inline-block;
    width: 115px;
    margin-right: 20px;
    padding: 7px 0;
    border-radius: 999px;
    transition: 0.3s;
}

.Tabs > div.Selected {
    background-color: #f3f3f3;
    color: #171717;
}

/*============================ Circlebar ============================*/

.Circlebar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CircleBody {
    transform: rotate(-90deg);
}

.CircleProgress {
    fill: none;
    stroke-width: 7;
}

.CircleProgress.CircleBack {
    stroke: rgba(64, 64, 64, 0.25);
}

.CircleProgress.CircleLine {
    stroke: #fb6614;
    stroke-linecap: round;
}

.CirclebarLabel {
    position: absolute;
}

.CirclebarLabel:after {
    content: "%";
}

/*============================ Counter ============================*/

.Counter {
    width: 130px;
    background-color: #202020;
    display: flex;
    align-items: center;
}

.Counter .CountBack, .Counter .CountForward {
    font-family: "Material Design Icons", sans-serif;
    font-size: 19px;
    padding: 10px;
    transition: 0.3s;
}

.Counter .CountBack:hover, .Counter .CountForward:hover {
    color: #aaaaaa;
}

.Counter .CountForward:before {
    content: '\F0415';
}

.Counter .CountBack:before {
    content: '\F0374';
}

.Counter .CountValue {
    position: relative;

}

.Counter .CountValue input {
    display: block;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #F3F3F3;
}

.Counter .CountValue input:focus {
    border: none;
    outline: none;
}

.Counter.Rounded {
    border-radius: 5px;
}

/*============================ HotkeyHolder ============================*/

.HotkeyHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin: 10px 0;
    padding: 10px;
    background-color: #202020;
    font-size: 16px;
    color: #f3f3f3;
    box-sizing: border-box;
    text-align: center;
    transition: 0.3s;
}

.HotkeyHolder.Selected {
    background-color: #fb6614;
}

.HotkeyHolder .KeyMod {
    padding: 0 7px;
    font-size: 12px;
    border: 2px solid #f3f3f3;
}

.HotkeyHolder.Rounded .KeyMod {
    border-radius: 8px;
}

.HotkeyHolder .KeyMod.Alt:before {
    content: 'Alt';
}

.HotkeyHolder .KeyMod.Ctrl:before {
    content: 'Ctrl';
}

.HotkeyHolder .KeyMod.Shift:before {
    content: 'Shift';
}

.HotkeyHolder .Plus:after {
    content: '+';
    margin-left: 6px;
    margin-right: 6px;
}

.HotkeyHolder.Rounded {
    border-radius: 5px;
}

/*============================ ItemPicker ============================*/

.ItemPicker {
    display: flex;
    margin: 10px 0;
    transition: 0.3s;
}

.ItemPicker.Rounded > div {
    border-radius: 99999px;
}

.ItemPicker.Rounded > div:after {
    border-radius: 99999px;
}

.ItemPicker > div {
    background-color: #000;
    border: 7px solid #0A1219;
    width: 36px;
    height: 36px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s;
    box-sizing: border-box;
    position: relative;
}

.ItemPicker > div:after {
    content: '';
    width: 100%;
    height: 100%;
    border: 4px solid #0A1219;
    position: absolute;
}

.ItemPicker > div:first-child {
    margin-left: 0;
}

.ItemPicker > div:last-child {
    margin-right: 0;
}

.ItemPicker > div.Selected {
    border: 9px solid #fb6614;
}
