
:root {
    --main-font-color: var(--nw-dark-color);
    --main-font-disabled-color: #7e7e7e;
    --main-component-bg-color: #eee;
    --main-component-bg-hover-color: #d8dee8;
    --main-component-disabled-bg-color: #c0c0c01f;
    --main-component-additional-color: var(--nw-orange-color);
    --main-good-color: var(--nw-blue-color);
    --main-warning-color: #ffd700;
    --main-error-color: #b22222;
    --main-caution-color: #fd5954;
    --main-popup-bg-color: #e9e8ffc4;

    --windowheader-bg-color: #aaa;
    --windowheader-control-hover-color: var(--nw-blue-color);
    --windowheader-controlclose-hover-color: var(--main-caution-color);
    --headerbutton-bg-color: #e2e2ef;
    --headerbutton-bg-hover-color: #d9d9d9;
    --headerbutton-font-color: var(--main-font-color);
    --page-bg-color: #f9f9f9;
    --pagebackbutton-font-hover-color: #4f4f4f;
    --panel-bg-color: #fff;
    --paneldashboard-bg-color: #e2e2ef;
    --alert-bg-color: #f5f5f5;
    --boxtitle-font-color: #686868;
    --scrollbox-bg-color: #f4f4f4;
    --scrollbar-bg-color: #7e7e7eb7;
    --mainmenu-bg-color: #e6e6e6;
    --button-highlighted-bg-color: #5dbeff;
    --button-highlighted-bg-hover-color: #459ad7;
    --progressbar-bg-color: #a6a6a6;
    --progressbarindicator-bg-color: var(--nw-blue-color);
    --link-font-color: #0882ff;
    --link-font-hover-color: var(--nw-blue-color);
    --toggle-active-bg-color: #9a9999;
    --toggle-inactive-bg1-color: #9b9b9b;
    --toggle-inactive-bg2-color: #c5c5c5;
    --list-header-font-color: #4a86b8;
    --droparea-active-bg-color: #62b6ff;
    --tabs-selected-bg-color: var(--main-component-additional-color);
    --tabs-selected-font-color: var(--nw-light-color);
    --circlebar-filler-bg-color: #f2f2f2c1;
    --itempicker-border-color: #8a8a8a;
}
