
:root {
    --main-font-color: var(--nw-dark-color);
    --main-font-disabled-color: #7e7e7e;
    --main-component-bg-color: #fff;
    --main-component-bg-hover-color: #d8dee8;
    --main-component-disabled-bg-color: #c0c0c070;
    --main-component-additional-color: var(--nw-orange-color);
    --main-good-color: var(--nw-blue-color);
    --main-warning-color: #ffd700;
    --main-error-color: #b22222;
    --main-caution-color: #fd5954;
    --main-popup-bg-color: #e8e8e8;

    --windowheader-bg-color: #aaa;
    --windowheader-control-hover-color: var(--nw-blue-color);
    --windowheader-controlclose-hover-color: var(--main-caution-color);
    --headerbutton-bg-color: #cccccc;
    --headerbutton-bg-hover-color: #d9d9d9;
    --headerbutton-font-color: var(--main-font-color);
    --page-bg-color: #f4f4f4;
    --pagebackbutton-color: #888;
    --panel-bg-color: #f0f0f0;
    --paneldashboard-bg-color: #ffffffb3;
    --boxtitle-font-color: #686868;
    --scrollbox-bg-color: #fafafa;
    --scrollbar-bg-color: rgba(126, 126, 126, 0.72);
    --mainmenu-bg-color: #e6e6e6;
    --button-highlighted-bg-color: #5dbeff;
    --button-highlighted-bg-hover-color: #459ad7;
    --progressbar-bg-color: #14222f;
    --progressbarindicator-bg-color: var(--nw-blue-color);
    --link-font-color: #0882ff;
    --link-font-hover-color: var(--nw-blue-color);
    --toggle-active-bg-color: #9a9999;
    --toggle-inactive-bg1-color: #9b9b9b;
    --toggle-inactive-bg2-color: #c5c5c5;
    --list-header-font-color: #4a86b8;
    --droparea-active-bg-color: #184e80;
    --tabs-selected-bg-color: var(--nw-dark-color);
    --tabs-selected-font-color: var(--nw-light-color);
    --circlebar-filler-bg-color: #F2F2F2C1;
    --itempicker-border-color: #8a8a8a;
}
